

html {
  scroll-behavior: smooth;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040036;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  z-index: 9999999999999999999999;
  top: 0;
}

#loader::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #888;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  color: #fff;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #000a60cd; /* Color del scroll thumb al pasar el cursor sobre él */
  border:1px solid #cccc;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #000a60cd; /* Color del scroll thumb al hacer clic sobre él */
  border:1px solid #cccc;
}

/* Cambiar el estilo del scroll */
body::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: #000a60cd; /* Color del scroll thumb */
  border-radius: 0px; /* Radio de borde del scroll thumb */
  border:1px solid #cccc;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #000a60cd; /* Color del scroll thumb al pasar el cursor sobre él */
  border:1px solid #cccc;
}


#particles-js{
  background-color: #0d0038;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

nav {
  padding: 7px 0;
  margin: 0;
  font-size: 22px;
  background-color: #00241779;
  box-shadow: 0 0 30px #000000c1;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 99999999999;
}

nav ul div {
  display: flex;
  flex-direction: row;
}

.redes__li a i {
  color: #ffffff;
  font-size: 30px;
}

ul{
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  margin: 0 10px;
}

li a {
  color: #fff;
  text-decoration: none;
}

#portafolio {
  margin-top: 100px;
}

h1, h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 55%;
}

b {
  color: #00b5a5;
  text-shadow: 0 0 30px #00ffeac8;
  transition: all .5s ease;
}

hr {
  border: 1px solid #00b5a5;
  box-shadow: 0 0 10px #00ffeac8;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 40px;
  display: inline-block;
  margin:100px 40px 250px 30px;
  transition: all .4s;
  text-shadow: 0 0 30px #cbcbcba1;
}

h1 b {
  width: 20px;
  height: 20px;
}

h1 b {
  font-size: 45px;
}

#sobremi {
  float: right;
  max-width: 550px;
  margin: 30px 30px 0 0;
  line-height: 50px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sobremi b {
  font-size: 25px;
}

#flecha {
  text-align: center;
}

#flecha img{
  width: 100px;
  margin: auto;
}

#introduccion {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
}

#tecnologias {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

#tecnologias div {
  min-width: 300px;
  max-width: 350px;
  width: 33.333333333%;
  height: 350px;
  margin: 30px 20px 0 20px;
  background-color: #ffffff3e;
  box-shadow: 0 0 90px #ffffff3e;
  padding: 20px 10px 0 10px;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
  height: 230px;
  margin: auto;
  display: block;
}

hr {
  margin: 40px;
}

h2 {
  padding:0 20%;
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

#proyectos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#proyectos .proyecto {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
  background-color: #ffffff3e;
  box-shadow:0 0 30px #ffffff3e;
  padding: 5px;
  border-radius: 3px;
}

.proyecto > div[id^="link-img"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.proyecto div a {
  position: absolute;
  background-color: #bdbdbda7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.proyecto .imagen img {
  transition: all .2s;
  border-radius: 5px;
}

.proyecto .imagen:hover img {
  filter: brightness(.7);
  border-radius: 13px;
}

.proyecto .titulo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 5px 0;
  transition: all.3s;
}

.proyecto:hover > .titulo {
  color: #dddddd;
}

.imagen img {
  transition: 0.2s ease;
}

.fecha-edicion {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#portada-restaurant, #portada-proud, #portada-juegos {
  width: 100%;
}

#contactar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff3e;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  min-width: 200px;
  max-width: 300px;
  margin: 0;
  align-self: center;
  margin-bottom: 50px;
  letter-spacing: 3px;
  line-height: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  text-align: center;
  margin-bottom: 5px;
}

input[type="text"] {
  color: #fff;
  width: 400px;
  height: 50px;
  font-size: 22px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  background-color: #06005582;
  border: none;
  box-shadow: 0 0 10px #00696188;
}

textarea {
  resize: none;
  color: #fff;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  font-size: 22px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #06005582;
  border: none;
  box-shadow: 0 0 10px #00696188;
}

/* Cambiar el estilo del scroll */
textarea::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scroll thumb */
  border-radius: 5px; /* Radio de borde del scroll thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scroll thumb al pasar el cursor sobre él */
}


textarea::placeholder{
  color: #fff;
}

input[type="text"]::placeholder{
  color: #fff;
}

#aviso {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}

#button {
  text-align: center;
  font-size: 15px;
  width: 100px;
  height: 60px;
  padding: 10px;
  background-color: #06005582;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px #00696188;
  text-shadow:0 0 5px #fff9;
}

#button[value="Enviar Email"]{
  text-align: center;
}

