

html {
  scroll-behavior: smooth;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  z-index: 9999999999999999999999;
  top: 0;
  background: radial-gradient(circle,#004f55  0%,#040036  100%), url('ruta-de-la-imagen.jpg');
  background-size: cover;
  background-position: center;
}

#loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  animation: spin 1s infinite alternate;
}

@keyframes spin {
  0% {
  box-shadow: 0 0 40px #fff;
  opacity: 1;
 }
  100% {
  box-shadow: 0 0 40px #fff;
  opacity: .5;
 }
}


body {
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #040036;
  background: radial-gradient(circle,#003e42  0%,#040036  100%), url('ruta-de-la-imagen.jpg');
  background-size: cover;
  background-position: center;
}

*::selection {
  background-color: #00b5a577; /* Color de fondo cuando se selecciona el texto */
  color: #ffffff; /* Color del texto cuando se selecciona */
}

b::selection {
  background-color: #004f5577;
  color: #ffffff;
}


body::-webkit-scrollbar-thumb:hover {
  background-color: #000a60cd; /* Color del scroll thumb al pasar el cursor sobre él */
  border:1px solid #cccc;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #000a60cd; /* Color del scroll thumb al hacer clic sobre él */
  border:1px solid #cccc;
}

/* Cambiar el estilo del scroll */
body::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: #000a60cd; /* Color del scroll thumb */
  border-radius: 0px; /* Radio de borde del scroll thumb */
  border:1px solid #cccc;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #000a60cd; /* Color del scroll thumb al pasar el cursor sobre él */
  border:1px solid #cccc;
}

nav {
  padding: 7px 10px;
  margin: 0;
  font-size: 22px;
  background-color: #001c12ba;
  box-shadow: 0 0 30px #000000c1;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 99999999999;
}

nav #ul__nav-primario div:not(.barras, .cont-barras) {
  display: flex;
  flex-direction: row;
}

#cont-barras{
  display: none;
}

.redes__li a i {
  color: #ffffff;
  font-size: 30px;
  text-align: right;
}

#ul__nav-primario{
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  margin: 0 10px;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a hr {
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 0;
  transition:all .3s ease;
  
}

li a:hover hr {
  opacity: 1;
  width: 100%;
}



#portafolio {
  margin-top: 100px;
}

h1, h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 1fr;
  grid-template-areas: 
  "nombre texto"
  "foto texto";
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  padding: 20px 0;
}

b {
  color: #00b5a5;
  text-shadow: 0 0 30px #00ffeac8;
  transition: all .5s ease;
}

hr {
  border: 1px solid #00b5a5;
  box-shadow: 0 0 10px #00ffeac8;
}

h1 p {
  text-align: left;
  font-size: 20px;
}

h1 {
  grid-area: nombre;
  text-align: left;
  letter-spacing: 5px;
  font-size: 40px;
  display: inline-block;
  margin:0 20px;
  transition: all .4s;
  text-shadow: 0 0 30px #cbcbcba1;
}

h1 b {
  width: 20px;
  height: 20px;
}

h1 b {
  font-size: 45px;
}

#perfil {
  margin: 0 20px;
  grid-area: foto;
  border-radius: 50%;
  width: 30%;
  max-width: 300px;
  min-width: 200px;
}

#sobremi {
  justify-self: center;
  grid-area: texto;
  float: right;
  max-width: 550px;
  margin:0 0 0 0;
  padding: 5px;
  line-height: 50px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sobremi b {
  font-size: 25px;
}

#flecha {
  text-align: center;
}

#flecha img{
  width: 200px;
  margin: auto;
}

#introduccion {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
}

#tecnologias {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: #ffffff3e;
  box-shadow: 0 0 90px #ffffff3e;
}

#tecnologias div {
  text-align: center;
  min-width: 200px;
  max-width: 250px;
  width: 33.333333333%;
  margin: 15px;
  padding: 20px 10px 0 10px;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

hr {
  margin: 40px;
}

h2 {
  padding:0 20%;
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

/* Proyectos */

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.galeria .imagen {
  position: relative;
  overflow: hidden;
  cursor: default;
  margin: 10px;
  box-shadow:0 0 90px #ffffff3e;;
}

.galeria .imagen img {
  height: 300px;
  transition: all .3s ease;
}

.galeria .imagen:hover img {
  transform: scale(1.2);
  filter: blur(2px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.654);
  transition: all .3s ease;
  flex-direction: column;
}

.div1 {
  transition: all .3s ease;
}

.div2 {
  transition: all .3s ease;
}

.div3 {
  transition: all .3s ease;
}

.imagen .overlay:hover {
  opacity: 1;
}

.overlay a {
  border: 2px solid #00b5a5;
  background-color: #0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:30px;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
}

.overlay #mostrar-info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:0 20px;
  background-color: #00b5a5;
  border-radius: 20px;
  margin: 10px 30px;
  height: 200px;
  position: absolute;
}

#mostrar-info img {
  height: 20px;
  margin: 10px auto;
  display: block;
  filter: contrast(9) invert(100%);
  cursor: pointer;
}

.overlay a:hover {
  background-color: #00b5a5;
  color: #000;
}

#form-span {
  height: 0px;
  position: relative;
  opacity: 0;
  padding-top: 90px;
}

#contactar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #ffffff3e;
}

#datos {
  width: 600px;
}

#contactar h3 {
  text-decoration: underline;
  margin: 0;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contactar #form h3 {
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
}

#datos__ul {
  display: grid;
  grid-template-columns: 50px 2fr;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  list-style: none;
}

#datos__ul li {
  margin: 10px 0;
}

#datos__ul i {
  color: #00b5a5;
  justify-self: center;
  align-self: center;
  font-size: 25.5px;
}

#datos__ul li p {
  margin: 5px 0;
  padding: 0;
  font-size: 15px;
  color: #ddd;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  text-align: center;
  margin-bottom: 5px;
}

input[type="text"] {
  color: #fff;
  width: 600px;
  height: 50px;
  font-size: 22px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  background-color: #00908477;
  border: none;
  box-shadow: 0 0 10px #00696188;
}

#email-adv {
  display: flex;
  flex-wrap: nowrap;
  width: 600px;
  justify-content: space-between;
}

#aviso {
  text-align: center;
  min-width: 275px;
  margin: 0px;
  box-sizing: border-box;
}

input[type="email"] {
  color: #fff;
  min-width: 325px;
  height: 50px;
  font-size: 22px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  background-color: #00908477;
  border: none;
  box-shadow: 0 0 10px #00696188;
}

textarea {
  resize: none;
  color: #fff;
  width: 600px;
  min-width: 300px;
  max-width: 600px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  font-size: 22px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #00908477;
  border: none;
  box-shadow: 0 0 10px #00696188;
}

/* Cambiar el estilo del scroll */
textarea::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scroll thumb */
  border-radius: 5px; /* Radio de borde del scroll thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scroll thumb al pasar el cursor sobre él */
}


textarea::placeholder{
  color: #fff;
}

input[type="email"]::placeholder{
  color: #fff;
}

input[type="text"]::placeholder{
  color: #fff;
}

#aviso {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}

#button {
  text-align: center;
  font-size: 15px;
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: #00908477;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px #00696188;
  text-shadow:0 0 5px #fff9;
  transition: all .5s;
}

#button[value="Enviar Email"]{
  text-align: center;
}

@media (max-width:1439px){
  #proyecto3 {
    margin-bottom: 0 !important;
  }
}

@media (max-width:1099px){
  .datos__li {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .datos_li p {
    justify-self: end;
  }
}

@media (max-width:768px){
  #nav {
    display: none;
  }
}

@media (max-width:725px){
  #presentacion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nombre"
    "foto"
    "texto";
  }

  #nav {
    font-size: 20px;
  }

  h1 {
    text-align: center;
  }

  h1 p {
    text-align: center;
  }

  #perfil{
    margin: 10px;
    justify-self: center;
  }

  h2 {
    line-height: 35px;
    letter-spacing: 5px;
  }
}